@{
    ViewData["Title"] = "Product Information";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="panel panel-primary">
  
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>Product ID</th>
                <th>Product Number</th>
                <th>Name</th>
                <th>Price List</th>
                <th></th>
            </tr>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        
        $.ajax({
            type: "GET",
            url: "http://localhost:5051/api/Product",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //alert(JSON.stringify(data));
                $("#DIV").html('');
                var DIV = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td id='ProductID'>" + item.productID + "</td>" +
                        "<td id='ProductNumber'>" + item.productNumber + "</td>" +
                        "<td id='Name'>" + item.name + "</td>" +
                        "<td id='PriceList'>"+"$"+ item.priceList + "</td>" +
                        "<td>"+"<button id='addUsers' class='btn btn-primary btn-xs' " +
                            "onclick='ViewDetails(\""+
                                item.productID+
                                "\")'>View</button>"+ "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                });
            },

            failure: function (data) {
                alert(data.responseText);
            }, 
            error: function (data) {
                alert(data.responseText);
            } 

        });
    });
    function ViewDetails(productID) {
        window.open("https://localhost:5001/Home/ProductDetails/"+productID);
    }
    
</script>