@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="panel panel-primary">

    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-primary">

    <div class="panel-body">
        <table class="table table-bordered" id="TableCost">
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Standard Cost</th>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        GetData();
        
    });
    function ViewDetails(productID) {
        alert(productID);
        var url = $(this).data("https://localhost:5001/Home/Privacy");
        console.log(url);

        window.open("https://localhost:5001/Home/Privacy/");
    }
    function GetData() {
var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1);
        $.ajax({
            type: "GET",
            url: "http://localhost:5051/api/Product/" + id,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (item) { 
                
                //alert(JSON.stringify(data));
                $("#DIV").html('');
                var DIV = '';
                //$.each(data, function (i, item) {
                //                       console.log(item);

                         var rows = "<tr>" +
                        "<td id='ProductIDValue'>Product ID</td>" +
                        "<td id='ProductID'>" + item.productID + "</td>" +
                             "</tr>" +
                             "<tr>" +
                        "<td id='NameValue'> Name </td>" +
                        "<td id='Name'>" + item.name + "</td>" +
                             "</tr>" +
                             "<tr>" +
                        "<td id='ColorValue'> Color </td>" +
                        "<td id='Color'>" + item.color + "</td>" +
                             "</tr>" +
                             "<tr>" +
                        "<td id='SizeValue'> Size </td>" +
                        "<td id='Size'>" + item.size + "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                   
                /*}); *///End of foreach Loop
                //console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
        $.ajax({
            
            type: "GET",
            url: "http://localhost:5051/api/ProductCostHistory?id="+ id,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //alert(JSON.stringify(data));
                if (data.length > 0) {
                    alert(1);
                    $("#DIV").html('');
                    var DIV = '';
                    $.each(data, function (i, item) {

                        var rows = "<tr>" +
                            "<td id='StartDate'>" + item.startDate + "</td>" +
                            "<td id='EndDate'>" + item.endDate + "</td>" +
                            "<td id='StandardCost'>" + item.standardCost + "</td>" +

                            "</tr>";
                        $('#TableCost').append(rows);
                    }); //End of foreach Loop
                }
                else {
                    "No product cost available"
                }
               
                //console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });

    }
</script>
